<!-- https://github.com/shopware/shopware/blob/6.4.20.0/src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-base/sw-order-detail-base.html.twig -->
{% block sw_order_detail_base__user_card %}
	{% parent %}
	
	<div id="nuveiActions" >
		<div class="sw-card has--header has--title">
			<div class="sw-card__header">
				<div class="sw-card__titles">
					<div class="sw-card__title">Nuvei actions</div>
				</div>

				<img src="/bundles/swagnuveicheckout/storefront/img/rolling.gif" 
					 style="display: none;" 
					 id="nuveiLoader" 
					 width="20">
			</div>

			<div class="sw-card__content">
				<div class="sw-container" style="display: block;">
					<button class="sw-button sw-button--primary nuveiButton" id="nuveiRefundBtn" type="button" style="margin-right: 5px; display: none;">
						<span class="sw-button__content">Refund</span>
					</button>

					<button class="sw-button sw-button--primary nuveiButton" id="nuveiVoidBtn" type="button" style="margin-right: 5px; display: none;">
						<span class="sw-button__content">Void</span>
					</button>

					<button class="sw-button sw-button--primary nuveiButton" id="nuveiSettleBtn" type="button" style="margin-right: 5px; display: none;">
						<span class="sw-button__content">Settle</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="nuveiNotes">
		<div class="sw-card has--header has--title">
			<div class="sw-card__header">
				<div class="sw-card__titles">
					<div class="sw-card__title">Nuvei notes</div>
				</div>
			</div>

			<div class="sw-card__content">
				<table style="width: 100%; display: none;" border="0">
					<tr>
						<th style="width: 150px; text-align: left;">Date</th>
						<th style="text-align: left;">Note</th>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}